# Build results
*.exe
*.o
.libs
/lib/

# Autotools artifacts
*.lo
*.la
config.status
config.log
autom4te.cache
aclocal.m4
/Makefile
.deps
libtool
*.trs
t*.log
.dirstamp

# Autotools requirements
# Include in releases, not in repository
# make dist and make distcheck should handle that
/build-aux/
/m4/
Makefile.in
configure
spherepack-*.*